<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link as="font" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    {{ livewire:styles }}
</head>
<body>

<header>
    {{ partial:structure/top_header }}
    {{ if {browser:isMobile} }}
        {{ partial:structure/mobilenav }}
    {{ else }}
        {{ partial:structure/nav }}
    {{ /if }}
</header>
<section>
    {{ template_content }}
</section>
<footer>
    {{ partial:structure/footer }}
</footer>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{{ stack:scripts }}
{{ livewire:scripts }}
</body>
</html>
