<div class="flex space-x-10">
<!-- Gauge Component -->
<div class="relative size-40">
    <svg class="size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
        <!-- Background Circle (Gauge) -->
        <circle cx="18" cy="18" r="16" fill="black" class="stroke-current text-grayMenu" stroke-width="4" stroke-dasharray="100 100"></circle>

        <!-- Gauge Progress -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-ratingGreen" stroke-width="4" stroke-dasharray="25 100" transform="rotate(-90 18 18)"></circle>
    </svg>

    <!-- Value Text -->
    <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        <span class="font-robotoCondensedMedium text-white block">COTE 100</span>
        <span class="text-[60px] font-robotoCondensed leading-[50px] text-white">25</span>
    </div>
</div>
<!-- End Gauge Component -->

<!-- Gauge Component -->
<div class="relative size-[100px]">
    <svg class="size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
        <!-- Background Circle (Gauge) -->
        <circle cx="18" cy="18" r="16" fill="black" class="stroke-current text-grayMenu" stroke-width="4" stroke-dasharray="100 100"></circle>

        <!-- Gauge Progress -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-ratingGreen" stroke-width="4" stroke-dasharray="25 100" transform="rotate(-90 18 18)"></circle>
    </svg>

    <!-- Value Text -->
    <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        <span class="font-robotoCondensedMedium text-[12px] text-white block">COTE 100</span>
        <span class="text-[40px] font-robotoCondensed leading-[30px] text-white">25</span>
    </div>
</div>
<!-- End Gauge Component -->

<!-- Gauge Component -->
<div class="relative size-[70px]">
    <svg class="size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
        <!-- Background Circle (Gauge) -->
        <circle cx="18" cy="18" r="16" fill="black" class="stroke-current text-grayMenu" stroke-width="4" stroke-dasharray="100 100"></circle>

        <!-- Gauge Progress -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-ratingGreen" stroke-width="4" stroke-dasharray="25 100" transform="rotate(-90 18 18)"></circle>
    </svg>

    <!-- Value Text -->
    <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        <span class="font-robotoCondensedMedium text-[6px] text-white block">COTE 100</span>
        <span class="text-[28px] font-robotoCondensed leading-[26px] text-white">25</span>
    </div>
</div>
<!-- End Gauge Component -->

    <!-- Gauge Component -->
<div class="relative size-[50px]">
    <svg class="size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
        <!-- Background Circle (Gauge) -->
        <circle cx="18" cy="18" r="16" fill="black" class="stroke-current text-grayMenu" stroke-width="4" stroke-dasharray="100 100"></circle>

        <!-- Gauge Progress -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-ratingGreen" stroke-width="4" stroke-dasharray="25 100" transform="rotate(-90 18 18)"></circle>
    </svg>

    <!-- Value Text -->
    <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        <span class="text-[18px] font-robotoCondensed leading-[26px] text-white">25</span>
    </div>
</div>
<!-- End Gauge Component -->
</div>
