<div class="{{ if blocked }}bg-gray-150 {{ else }}bg-white{{ /if }} rounded-2xl relative shadow-md">
    <div class="header flex justify-center space-x-2 items-center {{ if new }} bg-orange {{ else }} bg-mediumGray{{ /if }} rounded-t-2xl text-center text-white text-xs uppercase font-robotoMedium py-1">
        {{ if blocked }}
            {{ asset url='/assets/visuals/securitywhite.svg' }}
            <span><img class="h-[10px]" src="{{ url }}" alt="{{ trans:site.bigLock }}"></span>
            {{ /asset }}
        {{ /if }}
        <span>{{ header }}</span>
    </div>
    <div class="px-[36px] py-6 ">
        <div class="grid grid-cols-[1fr_130px] gap-1 align-middle">
            <div>
                <h2 class="m-0 text-4xl uppercase font-robotoCondensed"><a href="{{ url }}">{{ title }}</a></h2>
                <p class="font-robotoCondensedMedium uppercase text-2xl text-mediumGray2">{{ stock }}</p>
            </div>
            <div class="justify-self-end"><img class="max-h-[60px]" src="{{ image }}" alt="logo of {{ title }}"></div>
        </div>
        <div class="font-roboto text-[15px] text-grayMenu py-4">{{ description }}</div>
        <div class="border-b border-t border-gray-200 py-4">
            <div class="uppercase text-sm text-mediumGray2 font-robotoMedium">{{ trans:site.initialscenario }}</div>
            <div class="pt-2 font-robotoLight text-base">{{ date_de_recommandation }} - {{ cours_actuel }}</div>
        </div>
        <div class="mt-4 border-b border-gray-200 pb-4 space-y-2">
            <div class="uppercase text-sm text-mediumGray2 font-robotoMedium">{{ trans:site.quarterInBrief }}</div>
            <div class="space-y-2">
                {{ bref }}
                <div class="grid grid-cols-[30px_1fr] gap-2 items-center">
                    <img class="block mx-auto" src="/assets/icons/{{ icon }}.svg" alt="{{ icon }}"/>
                    <div class="text-base text-mediumGray2">{{ comment }}</div>
                </div>
                {{ /bref }}
            </div>
        </div>
        {{ if url }}
            <div class="grid grid-cols-[30px_1fr] items-center gap-2 mt-4 font-robotoMedium text-base text-mediumGray2">
                {{ asset url='/assets/visuals/grayarrowright.svg' }}
                    <img class="mt-1" src="{{ url }}" alt="{{ alt }}"/>
                {{ /asset }}
                {{ if !blocked }}
                    <a href="{{ url }}">{{ trans:site.readdetailed }}</a>
                {{ /if }}
            </div>
        {{ /if }}

    </div>
    {{ if blocked }}
        <div class="absolute inset-0 bg-white opacity-60 rounded-2xl"></div>
        <div class="absolute inset-0 cursor-not-allowed">
            <div class="flex h-full justify-center items-center">
                {{ asset url='/assets/visuals/biglock.svg' }}
                <img class="h-[80px]" src="{{ url }}" alt="{{ trans:site.bigLock }}">
            {{ /asset }}
            </div>
        </div>
    {{ /if }}
</div>
