<div x-data="{ open: true }" class="flex justify-center">
    <!-- Trigger -->
    <span x-on:click="open = true">
        <button type="button" class="inline-block">
            {{ trans:site.connect }}
        </button>
    </span>

    <!-- Modal -->
    <div
        x-dialog
        x-model="open"
        style="display: none"
        class="fixed inset-0 overflow-y-auto z-10"
    >
        <!-- Overlay -->
        <div x-dialog:overlay x-transition.opacity class="fixed inset-0 from-transparent to-white bg-gradient-to-b"></div>

        <!-- Panel -->
        <div
            class="relative min-h-screen flex items-center justify-center p-4"
        >
            <div
                x-dialog:panel
                x-transition
                class="relative max-w-xl w-full bg-white rounded-xl shadow-lg"
            >
                <!-- Body -->
                <div class="p-8">
                    <!-- Title -->
                    <h2 x-dialog:title class="text-2xl condensedMedium uppercase text-limeGreen">{{trans:site.loginwelcome}}</h2>
                    <p class="font-bold">{{ trans:site.loginmessageOne }}</p>
                    <p>{{ trans:site.loginmessageTwo}}</p>
                    <!-- Content -->
                    {{ user:login_form }}

                    {{ if errors }}
                        <div class="bg-red-300 text-white p-2">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}

                    {{ if success }}
                        <div class="bg-green-300 text-white p-2">
                            {{ success }}<br>
                        </div>
                    {{ /if }}
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{trans:site.email}}</label>
                        <input type="email" name="email" value="{{ old:email }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{trans:site.password}}</label>
                        <input type="password" name="password" value="{{ old:password }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>


                <!-- Footer -->
                <div class="p-4 flex justify-end space-x-2 bg-gray-50 rounded-b-xl">
                    <button type="button" x-on:click="$dialog.close()" class="text-limeGreen focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-lg px-5 py-2.5">
                        {{trans:site.subscribe}}
                    </button>
                    <button type="sumbit" x-on:click="$dialog.close()" class="bg-limeGreen focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 px-5 py-2.5 rounded-lg text-white">
                        {{trans:site.login}}
                    </button>
                </div>
                        {{ /user:login_form }}
                </div>

            </div>
        </div>
    </div>
</div>


