<div x-data="{ open: true }" class="flex justify-center">
    <!-- Trigger -->
    <span x-on:click="open = true">
        <button type="button" class="inline-block">
            {{ trans:site.connect }}
        </button>
    </span>

    <!-- Modal -->
    <div
        x-dialog
        x-model="open"
        style="display: none"
        class="fixed inset-0 overflow-y-auto z-10"
    >
        <!-- Overlay -->
        <div x-dialog:overlay x-transition.opacity class="fixed inset-0 bg-black bg-opacity-20"></div>

        <!-- Panel -->
        <div
            class="relative min-h-screen flex items-center justify-center p-4"
        >
            <div
                x-dialog:panel
                x-transition
                class="relative max-w-xl w-full bg-white rounded-xl shadow-lg"
            >
                <!-- Close Button -->
                <div class="absolute top-0 right-0 pt-4 pr-4">
                    <button type="button" @click="$dialog.close()" class="bg-gray-50 rounded-lg p-2 text-gray-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2">
                        <span class="sr-only">Close modal</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <!-- Body -->
                <div class="p-8">
                    <!-- Title -->
                    <h2 x-dialog:title class="text-2xl condensedMedium uppercase text-limeGreen">{{trans:site.loginwelcome}}</h2>
                    <p class="font-bold">{{ trans:site.loginmessageOne }}</p>
                    <p>{{ trans:site.loginmessageTwo}}</p>
                    <!-- Content -->
                    {{ user:login_form }}

                    {{ if errors }}
                        <div class="bg-red-300 text-white p-2">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}

                    {{ if success }}
                        <div class="bg-green-300 text-white p-2">
                            {{ success }}<br>
                        </div>
                    {{ /if }}
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{trans:site.email}}</label>
                        <input type="email" name="email" value="{{ old:email }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{trans:site.email}}</label>
                        <input type="password" name="password" value="{{ old:password }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>


                <!-- Footer -->
                <div class="p-4 flex justify-end space-x-2 bg-gray-50 rounded-b-xl">
                    <button type="button" x-on:click="$dialog.close()" class="text-limeGreen focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded-lg px-5 py-2.5">
                        {{trans:site.subscribe}}
                    </button>

                    <button type="sumbit" x-on:click="$dialog.close()" class="bg-limeGreen focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 px-5 py-2.5 rounded-lg text-white">
                        {{trans:site.login}}
                    </button>
                </div>
                        {{ /user:login_form }}
                </div>
            
            </div>
        </div>
    </div>
</div>


