<div>

<select wire:model.live="chosenCategory">
{{ dateSpanArray }}
    <option value="{{ index }}">{{ value }}</option>
{{ /dateSpanArray }}
</select>
<input wire:model.live="q" type="search">
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ results }}
            <div class="grid grid-cols-[150px_1fr] gap-4">
                <div>{{ main_visual }}
                    {{ partial:image_blog url="{{url}}" dw="150" dh="150" }}
                    {{ /main_visual }}</div>
                {{ title }}</div>
            {{ /results }}

</div>
</div>
