<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-4">
    <div>
        {{ collection from="{pagecontent}" limit="1" }}
        {{ main_visual }}
        {{ partial:srcset url="{{url}}" dw="654" dh="400" tw="654" th="400" mw="315" mh="260" }}
            {{ /main_visual }}
            <div class="mt-6">
                {{ partial:greenbutton }}{{ bubble }}{{ /partial:greenbutton }}
            </div>
            <h2 class="font-robotoCondensedMedium text-3xl md:leading-[54px] md:text-[54px] mt-2"><a href="

                {{ if logged_in }}{{ url }}{{ else }}#{{ /if }}">{{title}}</a></h2>
            <div class="chapeau robotoLight font-light leading-7 text-lg">{{ chapeau }}</div>
        {{ partial:date_and_clock }}
        {{ /collection }}
    </div>
    <div>
        {{ collection from="{pagecontent}" offset="1" limit="2" }}
    <div class="grid grid-cols-1 md:grid-cols-[315px_1fr] gap-6 mb-8">
    <div>
        {{ main_visual }}
        {{ partial:image_blog url="{{url}}" dw="315" dh="260" }}{{ /main_visual }}
        </div>
            <div>
                {{ partial:greenbutton }}{{ bubble }}{{ /partial:greenbutton }}
                <h2 class="font-robotoCondensedMedium text-4xl leading-10 py-0 my-2"><a href="

                    {{ if logged_in }}{{ url }}{{ else }}#{{ /if }}">{{title}}</a></h2>
                <div class="chapeauSidebar">{{ chapeau|safe_truncate(150, '…') }}</div>
        {{ partial:date_and_clock }}
            </div>
        </div>
        {{ /collection }}
    </div>
</div>
