<div class="flex justify-between">
    <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-5 text-md md:text-base">
        {{ collection:pages_diverses }}
               <a href="{{ url }}">{{ title }}</a>
        {{ /collection:pages_diverses }}
    </div>
    <div id="footerLanguage">
            {{ locales self="false" }}
                <a class="text-white" href="{{ permalink }}">{{ locale:name }}</a>
            {{ /locales }}
    </div>
</div>
<div class="text-sm mt-8 text-gray65">
    ©2024 Cote 100. {{ trans:site.rights }}
</div>
{{ user:is role="redaction" }}
	<div class="absolute bottom-4 right-4 text-black bg-amber-300 rounded px-4"><a href="{{ edit_url }}">Éditer</a></div>
{{ /user:is }}
