<div x-data="{ menu: false }">
    <div @click="menu = !menu"
        class="absolute top-16 left-3">
        {{ asset url='/assets/access.svg' }}
            <img class="mt-1" src="{{ url }}" alt="{{ alt }}"/>
        {{ /asset }}
    </div>
    <div x-show="menu" class="mt-14 bg-white max-w-xl uppercase" x-data="{selected:0}">
        <ul id="mobileMenu">
            {{ nav:collection:pages }}
            {{ if children }}
                <li>
                    <button type="button"
                            @click="selected !== {{ count }} ? selected = {{ count }} : selected = null">
                        <div class="flex items-center justify-between">
                            <span class="uppercase">{{ title }}</span>
                            <span x-show="selected" aria-hidden="true" class="ml-4">&minus;</span>
                            <span x-show="!selected" aria-hidden="true" class="ml-4">&plus;</span>
                        </div>
                    </button>
                    <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container{{ count }}"
                         x-bind:style="selected == {{ count }} ? 'max-height: ' + $refs.container{{ count }}.scrollHeight + 'px' : ''">
                        <ul>
                            {{ children }}
                                {{ user:in group="clients" }}
                                    <li @click="selected = null"><a href="{{ url }}">{{title}}</a></li>
                                {{ /user:in }}
                                {{ user:not_in group="clients" }}
                                    <li class="notAllowed" @click="selected = null"><a href="#">{{title}}{{ partial:menu/lock }}</a></li>
                                {{ /user:not_in }}
                            {{ /children }}
                        </ul>
                    </div>
                </li>
                {{ else }}
                    {{ user:in group="clients" }}
                        <li @click="selected = null"><a href="{{ url }}">{{title}}</a></li>
                    {{ /user:in }}
                    {{ user:not_in group="clients" }}
                        <li @click="selected = null"><a href="#">{{title}}</a></li>
                    {{ /user:not_in }}
            {{ /if }}
           {{ /nav:collection:pages }}
        </ul>
    </div>
</div>
