@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.roboto-flex-body, .roboto-supertitle, .font-sans, .condensed, .condensedMedium, .condensedSemiMedium, .roboto-flex-light, p {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

p {
    font-weight: 200;
}

.robotoBold {
    font-weight: 500;
}

.condensed {
    font-variation-settings: "wdth" 75;
}

.condensedSemiMedium {
    font-variation-settings: "wdth" 75;
    font-weight: 400;
}

.condensedMedium {
    font-variation-settings: "wdth" 75;
    font-weight: 500;
}

.roboto-flex-light {
    font-weight: 200;
}

.montserrat-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-weight: 300;
}

h1.title {
    @apply font-robotoCondensedMedium text-5xl md:text-[72px] font-medium leading-none mb-5 uppercase
}

h2 {
    @apply text-[24px] font-medium mt-6 mb-4 uppercase
}

.montserrat-title {
    font-weight: 300;
}

.roboto-supertitle {
    @apply font-robotoCondensedMedium uppercase tracking-wider text-limeGreen text-[36px] mb-3
}

select, input {
    @apply w-full
}

.share {
    @apply tracking-wider text-limeGreen font-medium
}


section, footer, .maxContainer {
    @apply w-full px-[15px] md:px-[30px] lg:px-[50px] md:max-w-maxSite md:mx-auto
}

.fondPerdu {
    @apply px-0
}

footer {
    @apply bg-darkGray text-white py-8 relative
}

header {
    @apply w-full pb-3 md:pb-1 mb-6 md:mb-6 border-b md:border-0 border-gray65 ;
}

#desktopNav a {
    @apply tracking-wider
}

#desktopNav ul li {
    @apply pb-1 border-white border-b-[3px]
}

#desktopNav ul li:hover.alone {
    @apply border-gray65
}

#desktopNav ul li.menuActive {
    @apply font-bold border-black
}

.submenu {
    @apply origin-top-right absolute top-full min-w-[320px] bg-white border border-slate-200 rounded-lg shadow-xl [&[x-cloak]]:hidden py-3
}

.submenu.topMenu {
    @apply right-0 uppercase
}

#desktopNav .submenu li, #topNav .submenu li {
    @apply py-3 px-4 font-light border-t border-gray65 border-b-0
}

#desktopNav .submenu li:last-child, #topNav .submenu li:last-child {
    @apply border-b
}

.notAllowed, #desktopNav .submenu li.notAllowed {
    @apply bg-gray80
}

#topNav {
    @apply font-sans
}

#mobileMenu > li {
    @apply w-full px-4 py-3 text-left border-b border-gray-200 uppercase
}

#mobileMenu > li ul {
    @apply mt-2
}

#mobileMenu > li ul li {
    @apply w-full px-6 py-2 text-left uppercase
}

.tableau table {
    @apply my-6 w-1/2
}

.tableau table.wide {
    @apply my-6 w-full
}

.tableau td, .tableau th {
    @apply p-2
}

.tableau table td {
    @apply border-b border-gray65 font-robotoLight text-left
}

.tableau table th {
    @apply uppercase text-[12px] font-roboto-flex border-b border-gray65 text-mediumGray text-left
}

.chapeau {
    @apply mb-8
}

.chapeau p {
    @apply font-robotoLight text-2xl leading-8 mb-3
}

.chapeauSidebar p {
    @apply font-robotoLight text-base leading-6 mb-3
}

.blogContent {
    @apply font-robotoRegular text-[18px] leading-6
}

.blogContent p {
    @apply font-robotoLight tracking-wide mb-3
}

.formField {
    @apply appearance-none py-3 px-4 pr-8 rounded-md border border-gray-700 bg-white text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}

#topBlog {
    @apply mt-20 md:mt-0
}
