{{ portfolio = {session:portfolio} }}
<section class="bg-gray70 py-8">
    <div class="roboto-supertitle uppercase">
        {{ parent }}{{ title }}{{ /parent }}
    </div>
    <h1 class="font-robotoCondensed text-7xl uppercase">{{ title }}</h1>
    {{ taxonomy:variantes_portefeuille }}
        {{ if slug == "{portfolio}" }}
           <div class="text-4xl font-robotoCondensed uppercase mb-8">{{ title }}</div>
        {{ /if }}
    {{ /taxonomy:variantes_portefeuille }}
    {{ livewire:search-title template='partials.search_title'}}

    {{ collection:portefeuilles query_scope="portefeuille_scope" slug="{portfolio}" }}
        {{ content }}
    {{ /collection:portefeuilles }}

</section>
